.bottom_bar{
    max-width: 100vw;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}
.spacer{
    height: 2vh;
}
.bar1{
    height: 10vh;
    border-top-right-radius: 80%;
    border-top-left-radius: 80%;
    background-color: rgba(192, 223, 154, 0.789);
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center; 
}
.bar2{
    height: 14vh;
    border-top-right-radius: 80%;
    border-top-left-radius: 80%;
    background-color:  rgba(192, 223, 154, 0.414);
    border-top: 5px solid  rgba(212, 17, 17, 0.341);  
}
.bar3{
    height: 12vh;
    border-top-right-radius: 80%;
    border-top-left-radius: 80%;
    background-color: rgba(192, 223, 154, 0.534);
}
