.top_bar {
    width: 100vw;
    height: 12vh;
    position: absolute;
    left: 0;
    top: 0;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
    box-shadow: 0px 3px rgba(212, 17, 17, 0.593);
    background-color: #f4e6d07c;
    backdrop-filter: blur(15px);
    padding-top: 1vh;
    padding-bottom: 1vh;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    z-index: 5;
}

.logo_img {
    height: 100%;
}