.content {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    top: 0;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
}

.login_box {
    text-align: center;
    border: 5px solid #0000;
    box-shadow: 1px 2px 2px 3px rgba(212, 17, 17, 0.341);
    background-color: #43424194;
    backdrop-filter: blur(15px);
    color: white;
    border-radius: 5%;
    padding: 1.3em;
    width: 40%;
    max-width: 350px;
    animation: bg 5s linear infinite;
    overflow: hidden;
}

.gayab {
    animation: gayab 2s 1 linear;
    animation-fill-mode: forwards;
}

.label {
    margin-top: 5px;
    font-family: 'Times New Roman', Times, serif;
    float: left;
}

.input_box {
    width: 95%;
    padding: 8px;
    margin-top: 10px;
    font-size: 1em;
    border-radius: 10px;
    border: #fff;

}

.input_box.pwd {
    width: 85%;
    border-bottom-right-radius: 0%;
    border-top-right-radius: 0%;
    margin-right: 0%;
    display: inline;

}

.login_bt {
    float: right;
    padding: 8px;
    color: white;
    border: 2px solid rgb(231, 66, 20);
    background-color: #000;
}

.login_bt:hover {
    background-color: rgb(231, 66, 20);
    cursor: pointer;
}

.error {
    color: red;
    margin-top: 15px;
    font-size: 18px;
}

.show {
    margin-top: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 8px;
    margin-left: 0%;
    font-size: 1em;
    display: inline;
    border: #fff;
}

.fg_pw {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: underline;
}

.fg_pw:hover {
    cursor: pointer;
}

.wrapper {
    width: 100%;
    display: flex;
    align-items: center;
}

.wrapper2 {
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}


@keyframes bg {

    0%,
    100% {
        box-shadow: 1px 2px 2px 3px rgba(212, 17, 17, 0.341);
        ;
    }

    50% {
        box-shadow: 1px 2px 2px 3px rgba(212, 17, 17, 0.736);
        ;
    }
}

@keyframes gayab {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-20vw);
    }

    100% {
        transform: translateX(-40vw);
        visibility: hidden;
    }
}

@media screen and (min-width : 550px) and (max-width : 700px) {
    .login_box {
        width: 50%;
    }

}

@media screen and (min-width : 415px) and (max-width : 550px) {
    .login_box {
        width: 60%;
    }

}

@media screen and (max-width:415px) {
    .login_box {
        width: 80%;
    }
}