AddType text/html .shtml
AddHandler server-parsed .shtml
Options Indexes FollowSymLinks Includes
AddHandler server-parsed .html .htm


RewriteCond %{HTTP_REFERER} ^http://localhost$ [NC]
RewriteRule \.(gif|jpg|swf|flv|png|html)$ [F,L]
