body{
    background-color: rgb(131, 30, 255);
}
#hr{
    font-size: 6em; max-width: 100vw;
    animation: oc 8s infinite ;
    color:rgba(0, 0, 0, 0.995);
} 
#hr:hover{cursor: pointer;}
@keyframes oc {

    0%,100%{
        width: 20px;
        height: auto;
    }
    50%{
        width: 70px;
        height: auto;
    }
}